<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block head_title %} MuyPicky.com {% endblock %}</title>
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h1>MuyPicky.com</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contacts">Contact</a>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>